<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <acl>
    <resources>
      <resource id="Magento_Backend::admin">
        <resource id="Magento_Backend::stores">
          <resource id="Magento_Backend::stores_settings">
            <resource id="Magento_Config::config">
              <resource id="MultiSafepay_Connect::connect" title="MultiSafepey Connect Settings" />
              <resource id="MultiSafepay_Connect::gateways" title="MultiSafepay Gateways" />
              <resource id="MultiSafepay_Connect::giftcards" title="MultiSafepay Giftcards" />
              <resource id="MultiSafepay_Connect::fastcheckout" title="Fastcheckout" />
            </resource>
          </resource>
        </resource>
      </resource>
    </resources>
  </acl>
</config>
